.menu {
  margin-top: 40px;
  height: 100px;
  background-color: #f0e6ef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: -10px -27px 43px -31px rgba(92,76,92,0.29);
  -moz-box-shadow: -10px -27px 43px -31px rgba(92,76,92,0.29);
  box-shadow: -10px -27px 43px -31px rgba(117, 105, 117, 0.29);
}

.menu-button {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  transition: 0.2s;
}
.menu-button:hover {
  font-weight: normal;
  border-radius: 3px;
  letter-spacing: 4px;
  background-color: #ece1ea;
  text-shadow: hue($color: black);
  cursor: pointer;
}

.menu-button:focus {
  border-bottom: 1px solid rgb(128, 128, 223);
  color: rgb(128, 128, 223);
}
