.header-button {
  width: 33%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
}

.header-button:hover {
  color: black;
}

.header-button:focus {
  color: black;
  font-weight: normal;
}
