.header-navbar {
  margin-top: 0;
  padding: 10;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

.header-button-container {
  display: flex;
  margin-right: 80px;
  width: 34%;
  height: 100%;
}
.header-button {
  width: 50%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
  outline: none;
}

.header-button:hover {
  color: black;
  outline: none;
  border: none;
}

.header-button:focus {
  color: black;
  outline: none;
  border: none;
}

.header-button:active {
  outline: none;
  border: none;
}

.header-button .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  text-decoration: solid;
  font-weight: normal;
  top: 14px;
  right: 199px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #7f4dae8e;
}
